#vampires
  - @vampires.each do |v|
    .vampire
      %ul
        %li= v.name
        %li= v.blood_type
        %li= v.team
        %li
          = 3*3
          = 4*4
          = "The time is now #{Time.now}"
